<!DOCTYPE html>
<html>
<title>Login!</title>
<body>
<div align="center">
<form action="create" method = "POST">
{% csrf_token %}
    <div class = "container">
        <label>Username: </label>
        <input type = "text" name= "username"  placeholder = "Enter username"</input><br><br>

        <label>Password: </label>
        <input type = "text" name = "password" placeholder = "Enter password"</input><br><br>

        <button type = "submit"> Sign IN</button>
    </div>
</form>
</div>
</html>